
## <summary>policy for INTICOIN</summary>


########################################
## <summary>
##	Transition to INTICOIN.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`INTICOIN_domtrans',`
	gen_require(`
		type INTICOIN_t, INTICOIN_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, INTICOIN_exec_t, INTICOIN_t)
')


########################################
## <summary>
##	Execute INTICOIN server in the INTICOIN domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`INTICOIN_initrc_domtrans',`
	gen_require(`
		type INTICOIN_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, INTICOIN_initrc_exec_t)
')


########################################
## <summary>
##	Search INTICOIN lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`INTICOIN_search_lib',`
	gen_require(`
		type INTICOIN_var_lib_t;
	')

	allow $1 INTICOIN_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read INTICOIN lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`INTICOIN_read_lib_files',`
	gen_require(`
		type INTICOIN_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, INTICOIN_var_lib_t, INTICOIN_var_lib_t)
')

########################################
## <summary>
##	Manage INTICOIN lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`INTICOIN_manage_lib_files',`
	gen_require(`
		type INTICOIN_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, INTICOIN_var_lib_t, INTICOIN_var_lib_t)
')

########################################
## <summary>
##	Manage INTICOIN lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`INTICOIN_manage_lib_dirs',`
	gen_require(`
		type INTICOIN_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, INTICOIN_var_lib_t, INTICOIN_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an INTICOIN environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`INTICOIN_admin',`
	gen_require(`
		type INTICOIN_t;
		type INTICOIN_initrc_exec_t;
		type INTICOIN_var_lib_t;
	')

	allow $1 INTICOIN_t:process { ptrace signal_perms };
	ps_process_pattern($1, INTICOIN_t)

	INTICOIN_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 INTICOIN_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, INTICOIN_var_lib_t)

')

